<h1><%= t('.list') %></h1>

<% if @tests.present? %>
  <table>
    <tr>
      <th><%= Test.human_attribute_name(:title) %></th>
      <th><%= t('common.number') %></th>
    </tr>

    <%= render @tests %>
  </table>
<% end %>
