
<p><%= Time.now.year %></p>
<p><%= TestGuru.author %></p>
<%= 
  link_to "#{TestGuru.title}", 
  'https://github.com/Cainar/TestGuru.git', 
  target: :_blank 
%>
<p>
  Приложение предназначено для создания,<br> управления и выполнения различных тестов
</p>
<%= 
  link_to "Учебный проект в онлайн-школе Thinknetica", 
  'http://thinknetica.com/', 
  target: :_blank 
%>
